<div id="mask" class="mask">
    <div class="wrapper">
        <div class="container">
            <div class="headerGrid"></div>
            <div class="leftGrid"></div>
            <div id="mainGrid" class="mainGrid"></div>
            <div class="rightGrid"></div>
            <div class="footerGrid">
                <img onclick="swipeBackwardsImages()" class="left-arrow" src="./img/linker-pfeil-white.png" alt="">
                <img onclick="closeImage()" class="close" src="./img/schaltflache-loschen-white.png" alt="">
                <img onclick="swipeForwardImages()" class="right-arrow" src="./img/rechter-pfeil-white.png" alt="">
            </div>
        </div>
    </div>
</div>